@import "../../styles";

ul {
  list-style-type: none;
}

li {
  font: 200 20px/1.2 Serif;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: $color-black;
  display: block;
}

li a:hover {
  background: $color-blue;
}

